<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Forward sitemap.xml to the PHP generator in the api folder
  RewriteRule ^sitemap\.xml$ api/sitemap.php [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
